[Unit]
Description=Smart Home Node
Requires=
After=

[Service]
PIDFile=/var/run/smart-home-node.pid
ExecStartPre=/bin/rm -f /var/run/smart-home-node.pid
ExecStart=/opt/smart-home/node/node
Restart=on-abort

[Install]
WantedBy=multi-user.target